@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgba(26, 25, 25, 0.87);
}

fieldset{
    background-color: rgb(209, 41, 12);
    color: aliceblue;
    border: 0px;
}

button{
    background-color: rgb(16, 121, 13);
}

button:hover{
    background-color: rgb(236, 59, 59);
    text-shadow: none;
}
