*{
    background-color: rgb(54, 60, 65);
}

#foto{
    padding-left: 30em;
    padding-top: 2em;
    width: 400px;
    height: 400px;
}

h1{
    color: azure;
    text-align: center;
}

